 
@import "tailwindcss";
 
 
 
:root {
  --background: #dba144;
  --foreground:#1a1515;
}
 
.yellow{
  background-color: var(--background);
}
.text-color{
  color: var(--background);
}
 
body{
  color:var(--foreground);
}

button{
  cursor: pointer !important;
}

.btn{
  cursor:pointer;
  transition: all .3s ease-in-out;
}
.btn:hover{
  transform: scale(1.15);
}
 
input,textarea{
  outline: none;
  border: 1px solid #e2e2e2;
  transition: all .2s ease-in-out;
}
 
input:focus{
  border: none;
  border: 1px solid #dba144;
}
textarea:focus{
  border: none;
  border: 1px solid #dba144;
}
 
@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slideUp 0.4s ease-out forwards;
}

 
 
 
 
 